@font-face{
  font-family:quicksand;
  src: url("../font/quicksand/Quicksand-Regular.otf");
}
.background-home {
  background-image:
    url("../img/coffee-desk-laptop-notebook.jpg");
  background-attachment: fixed;
  background-size:cover;
}
.backround-about{
  background-image: url("https://images.unsplash.com/photo-1422433555807-2559a27433bd?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925");
  background-attachment: fixed;
  background-size:cover;
}
.nav{
  float:right;
  min-height: 100px;
  padding-top: 30px;
}
.backround-portfolio{
  background-image: url("https://images.unsplash.com/photo-1416339684178-3a239570f315?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925");
  background-attachment: fixed;
  background-size:cover;
}
.backround-contact{
  background-image: url("https://images.unsplash.com/photo-1414919823178-e9d9d0afd0ac?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=3fe4cae5ea0cd9967d0f40853aa5065e");
background-size: cover;
background-attachment: fixed;
}
.section {
  min-height:100%;
}
.large{
  font-size: 5em;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 8px #000;
  padding-top:200px;
}
.push-buttom{
  margin-bottom: 100px;
}
h2{
  font-family: quicksand;
  font-size:2em;
  color: #FFFFFF;
  text-shadow: 2px 2px 8px #000;
}
button {
  height: 50px;
  min-width:120px;
  margin-top: 20px;
  margin-left: 5%;
}
a {
  color: #fff;
  text-shadow: 2px 2px 8px #000;
}
.nav>li>a:focus, .nav>li>a:hover{
  background-color: initial;
}
a:hover{
  color: #000;
  text-shadow: 2px 2px 8px #000;
}
a:focus, a:active{
  outline: none;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li.active>a {
  color: #fff;
  font-size: 1.5em;
}
li.active>a {
  color: #fff;
  font-size: 1.5em;
}
.navbar-home {
  background-color: #88A12C;
}
.navbar-about .navbar-nav>.active>a, .navbar-about .navbar-nav>li>a:hover {
  background-color:#406558; 
  color:#fff;

}
.navbar-about .navbar-nav>.active>a:hover {
  background-color:#406558;
}
.navbar-about {
  background-color: #406558;
  
}
.navbar-portfolio .navbar-nav>.active>a, .navbar-portfolio .navbar-nav>li>a:hover {
  background-color:#2B2D2B;
  color:#fff;
}
.navbar-home .navbar-nav>.active>a:hover {
  background-color:#2B2D2B;
}
.navbar-portfolio {
  background-color: #2B2D2B;
}
.btn {
  height: 40px;
}
.btn-default {
    margin-bottom: 30px;
    color: #FFF;
    background-color: #88A12C;
    text-shadow: 2px 2px 8px #000;
    border-color: #FFF;
}
.top {
  height: 250px;
}
.contact {
  font-size: 2em;
  color: #fff;
  text-shadow: 2px 2px 8px #000;
}
button.resume{
  background-color: #406558;

}

button.reference:hover,:visited,:active{
  background-color: #FCD548;
  color: white;
  border:1px solid white;
  
}
button.resume:hover,:visited,:active{
  background-color: #574E49;
  color: white;
  border:1px solid white;
  
}
.portfolio{
  height: 35%;
  background-color: #2B2D2B;
}
.div-portfolio-top,.div-about-top {
  height: 150px;
}
.div-portfolio {
  height: 50px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: transparent;
  color:white;
}
.text{
  color: #FFF;
  position: absolute;
  bottom: 10%;
  left:38%;
  text-shadow: 2px 2px 8px #000;
}
.navbar-nav > li > a:hover, {
  background-color:inherit;
color:black;
  text-shadow: 2px 2px 8px #FFF;
}
.navbar-default .navbar-nav>.active>a{
  color: #FFF;
}
img {
  margin-top: 10%;
  max-width: 100%; 
  height: auto;
}
.navbar-default .navbar-nav>li>a{
  color:#C4C3C9;
}
a:focus{
  border: none;
}
