
.background-home {
  background-image:
    url("https://images.unsplash.com/photo-1445620466293-d6316372ab59?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925");
  background-attachment: fixed;
  background-size:cover;
}
.backround-about{
  background-image: url("https://images.unsplash.com/photo-1422433555807-2559a27433bd?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925");
  background-attachment: fixed;
  background-size:cover;
}
.nav{
  float:right;
  min-height: 100px;
  padding-top: 30px;
}
.backround-portfolio{
  background-image: url("https://images.unsplash.com/photo-1416339684178-3a239570f315?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925");
  background-attachment: fixed;
  background-size:cover;
}
.backround-contact{
  background-image: url("https://images.unsplash.com/photo-1414919823178-e9d9d0afd0ac?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=3fe4cae5ea0cd9967d0f40853aa5065e");
background-size: cover;
background-attachment: fixed;
}
.section {
  min-height:100%;
}
.large{
  font-size: 5em;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 8px #000;
  padding-top:200px;
}
button {
  height: 50px;
  min-width:120px;
  margin-top: 100px;
  margin-left: 5%;
}
a {
  color: #fff;
  text-shadow: 2px 2px 8px #000;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li.active>a {
  color: #fff;
}
.navbar-home {
  background-color: #70716E;
}
.navbar-about .navbar-nav>.active>a, .navbar-about .navbar-nav>li>a:hover {
  background-color:#406558; 
  color:#fff;
}
.navbar-about .navbar-nav>.active>a:hover {
  background-color:#406558;
}
.navbar-about {
  background-color: #406558;
  
}
.navbar-portfolio .navbar-nav>.active>a, .navbar-portfolio .navbar-nav>li>a:hover {
  background-color:#2B2D2B;
  color:#fff;
}
.navbar-home .navbar-nav>.active>a:hover {
  background-color:#2B2D2B;
}
.navbar-portfolio {
  background-color: #2B2D2B;
}
.btn-default {
    color: #f5f5f5;
    background-color: #080808;
    border-color: #ccc;
}
.btn-default:hover {
  color: #080808;
  background-color: #f5f5f5;
  border: 2px solid #000;
}
.top {
  height: 250px;
}
.contact {
  font-size: 2em;
  color: #fff;
  text-shadow: 2px 2px 8px #000;
}
.portfolio{
  height: 30%;
  background-color: #2B2D2B;
}
.div-portfolio-top,.div-about-top {
  height: 150px;
}
.div-portfolio {
  height: 50px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: transparent;
  color:white;
}
.first{
  background-image: url("../img/todo_app.png");
  background-size: cover;
  background-position: center;
}
.second {
  background-image: url("../img/angular_shopping_list.png");
  background-size: cover;
  background-position: center;
}
.navbar-nav > li > a:hover, {
  background-color:inherit;
color:black;
  text-shadow: 2px 2px 8px #FFF;
}
.navbar-default .navbar-nav>.active>a{
  color: #FFF;
}
